extends layouts/main
include partials/mixins

block content
  .cartList__page#cartList__page.layout
    h1.cartList__pageTite #{user.name} 의 장바구니
    .merchandiseList__wrap 
      //- merchandiseList mixin
      +cartMerchandise(item)
      //- 사진, 이름, 최종 가격