header.header#header {
  .header-flex .header__title {
    padding-top: 30px;
    h1 {
      font-size: 80px;
      font-weight: 800;
      text-align: center;
      a {
        &:hover {
          color: black;
        }
        text-decoration: none;
      }
    }
  }
}
