.findPW__page#find__page {
  section.findPW__wrap.layout {
    h1.findPW__title {
      font-size: 30px;
      font-weight: 600;
      margin-top: 40px;
      margin-left: 20px;
    }
    form.findPW__form {
      width: 400px;
      margin-top: 20px;
      border: solid 1px gray;
      border-radius: 5px;
      padding: 20px;
      input.findPW__userID {
        border: solid 1px goldenrod;
        border-radius: 5px;
        padding-left: 10px;
        height: 30px;
        width: 300px;
      }
      button {
        margin-top: 20px;
        height: 50px;
        width: 100px;
        background-color: goldenrod;
        color: white;
        border-radius: 10px;
        font-size: 15px;
      }
    }
  }
}
