.login__page#login__page {
  section.section__login.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    .section__login-wrap {
      border: solid 1px darkgray;
      border-radius: 10px;
      margin-top: 50px;
      padding: 30px;
      form.login__form {
        .form__wrap {
          .form__userID-wrap {
            p.form__user-login {
              text-align: center;
              font-size: 30px;
              font-weight: 700;
            }
            .form__userID-label {
              margin-top: 20px;
              label.user__label {
              }

              .form__userID-input {
                margin-top: 5px;
                border: solid 1px goldenrod;
                border-radius: 5px;
                height: 30px;
                width: 300px;
                input.userID__input {
                }
              }
            }
          }
          p.form__user-msg {
            margin-top: 5px;
            display: none;
          }
        }

        .form__pw-wrap {
          .form__pw-label {
            margin-top: 20px;
            label.pw__label {
            }
          }
          .form__pw-input {
            margin-top: 5px;
            input.pw__input {
              border: solid 1px goldenrod;
              border-radius: 5px;
              height: 30px;
              width: 300px;
            }
          }
          p.form__pw-msg {
            margin-top: 5px;
            display: none;
          }
        }
      }
      .form__btn {
        margin-top: 15px;
        button.btn__submit {
          height: 50px;
          width: 100px;
          background-color: goldenrod;
          color: white;
          border-radius: 10px;
          font-size: 15px;
        }
      }
      .form__join {
        margin-top: 10px;
        margin-left: 3px;
        a.form__join-anchor {
          cursor: pointer;
        }
      }
    }
  }
}