.map__page#map__page {
  .map__wrap {
    section.map__section {
      .map#map {
        height: calc(100vh - 200px);
        width: 100%;
        background-color: aqua;
      }
    }
    section.map__swiper-section {
      .swiper__wrap {
        .swiper.map__site-picture {
          .swiper-wrapper {
            .swiper-slide {
              display: flex;
              justify-content: center;
              img.swiper__site {
                height: 200px;
                object-fit: cover;
              }
            }
          }
          .swiper-pagination {
            display: none;
          }
          .swiper-button-prev,
          .swiper-button-next {
          }
        }
      }
    }
  }
}

/* 장소 list
경복궁 [37.57983067651972, 126.97705471430477]
창경궁 [37.58042912198211, 126.99497882522293]
덕수궁 [37.56640142863811, 126.97609124540196]
남산타워 [37.55253543301184, 126.987683216992]
DDP [37.567776206460834, 127.00948421170528]
정릉 [37.60263612006517, 127.00573732078404]
서울 현충원 [37.49883471563753, 126.97212743329486]
반포한강공원[37.511362961845634, 126.995853686761]
예술의 전당 [37.48019094714025, 127.01081952912442]
코드스페이스 [37.48019094714025, 127.01081952912442]
37.483454381221264, 127.12314354768957
외대 인경관 [37.33979437432622, 127.27449552137861]
곤지암[37.351211375553326, 127.33847529934772]
*/
