.wishList__page#wishList__page {
  .merchandiseList__wrap {
    .merchadiseList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }
    .merchandise__thumbnail-wrap {
      img.merchandise__thumbnail {
        width: 250px;
        height: 200px;
      }
    }
  }
}
