extends ../layouts/adminMain

block content
  body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static(data-open='click' data-menu='vertical-menu-modern' data-col='')
    main.admin__main
      .admin__page#admin__merchandiseForm-page
        include adminSidebar
        .app-content.content
          .content-overlay
          .header-navbar-shadow
          .content-wrapper.container-xxl.p-0
            .content-body
              //- BEGIN: Validation
              section.bs-validation
                .row
                  //- BEGIN: Bootstrap Validation
                  .col-xl-6.col-12
                    .card
                      .card-header
                        h1.card-header-title=`${adminNameKo} ${formType}`
                      .card-body
                        form.needs-validation(enctype="multipart/form-data" novalidate method="POST")
                          .form-group
                            label.form-label(for='#title') 이름
                            input#title.form-control(type='text' name="title" value=`${updateBool ? adminItem.title : ""}` placeholder="이름을 입력하세요" required)
                            .invalid-feedback 이 영역은 필수값입니다.
                          .row
                            .col-12
                              button.btn.btn-primary.waves-effect.waves-float.waves-light(type="submit")=`${formType}하기`
                  //- END: Bootstrap Validation
              //- END: Validation
    //- BEGIN: Repeated scripts
    include adminScripts
    //- END: Repeated scripts
    //- BEGIN: Page Vendor JS
    script(src='/app-assets/vendors/js/forms/select/select2.full.min.js')
    script(src='/app-assets/vendors/js/forms/validation/jquery.validate.min.js')
    script(src='/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js')
    //- END: Page Vendor JS
    //- BEGIN: Page JS
    script(src='/app-assets/js/scripts/forms/form-validation.js')
    //- END: Page JS